---
import GitHub from "./icons/Github.astro";
import LinkedIn from "./icons/linked.astro";
---

<section class="contact">
    <h2 class="title">Contact</h2>
    <div class="social-box">
        <a
            href="https://github.com/Judas9016"
            class="social-card"
            target="_blank"
            rel="Github con todos mis repos y historial"
        >
            <GitHub />
            <span>GitHub</span>
        </a>
        <a
            href="https://www.linkedin.com/in/william-david-rodr%C3%ADguez-859a44314/"
            class="social-card"
            target="_blank"
            rel="mi historial empresarial con linkedin"
        >
            <LinkedIn />
            <span>LinkedIn</span>
        </a>
    </div>
</section>

<style>
    .contact {
        margin-top: 3rem;
        text-align: center;
    }

    .title {
        font-family: var(--font-test);
        color: #fff;
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
        animation: neonEfectt 1.5s infinite alternate;
    }

    .social-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .social-card {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: #fff;
        border: 1px solid #333;
        border-radius: 0.5rem;
        padding: 0.75rem 1rem;
        text-decoration: none;
        color: black;
        font-family: var(--font-test);
        font-size: 2.6rem;
        transition: background-color 0.2s;
    }

    .social-card:hover {
        background-color: purple;
        color: white;
    }

    .social-card svg {
        width: 20px;
        height: 20px;
        fill: white;
    }

    @keyframes neonEfectt {
        from {
            text-shadow:
                0 0 3px #d37090,
                0 0 6px #d37090;
        }
        to {
            text-shadow:
                0 0 8px #d37090,
                0 0 16px #d37090;
        }
    }
    @media (max-width: 600px) {
        .social-card {
            flex-direction: column;
            font-size: 1.5rem;
        }

        .social-card svg {
            width: 18px;
            height: 18px;
        }
    }
</style>
