---
import { Image } from "astro:assets";
import GemLoading from "../assets/madoka pixel.gif";
---

<div id="loadingScreen" class="loader">
    <Image
        id="loading-progress"
        class="size-img"
        src={GemLoading}
        alt="Loading"
    />
</div>

<style>
    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .size-img {
        width: 500px;
        aspect-ratio: 1/3;
        display: block;
    }
</style>

<script></script>
