<section class="carousel-section">
    <h2 class="title">Music i like it</h2>
    <div class="carousel" id="music-carousel">
        <div class="card">
            <iframe
                style="border-radius:12px"
                src="https://open.spotify.com/embed/track/2vWBUC9djv6BtiGlmKiQaH?utm_source=generator"
                width="100%"
                height="152"
                frameBorder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
        </div>
        <div class="card">
            <iframe
                style="border-radius:12px"
                src="https://open.spotify.com/embed/track/0BxE4FqsDD1Ot4YuBXwAPp?utm_source=generator"
                width="100%"
                height="152"
                frameborder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
        </div>
        <div class="card">
            <iframe
                style="border-radius:12px"
                src="https://open.spotify.com/embed/track/4QIEsteP8ZRDybShQNuA2J?utm_source=generator"
                width="100%"
                height="152"
                frameborder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
        </div>
        <div class="card">
            <iframe
                style="border-radius:12px"
                src="https://open.spotify.com/embed/track/2qpzWc8i7nja6CpvGczkUe?utm_source=generator"
                width="100%"
                height="152"
                frameBorder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
        </div>
        <div class="card">
            <iframe
                style="border-radius:12px"
                src="https://open.spotify.com/embed/track/4Fhrx7bvF8MxowMaJqghBk?utm_source=generator"
                width="100%"
                height="152"
                frameBorder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
        </div>
        <div class="card">
            <iframe
                style="border-radius:12px"
                src="https://open.spotify.com/embed/track/6CTdEvRD18xnL8qIumOaSU?utm_source=generator"
                width="100%"
                height="152"
                frameBorder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
        </div>
    </div>
</section>

<style>
    .carousel-section {
        padding: 2rem;
        text-align: center;
    }

    .title {
        font-family: var(--font-test);
        font-size: 3.5rem;
        color: white;
        margin-bottom: 2rem;
        animation: neonEfectt 1.5s infinite alternate;
    }

    .carousel {
        display: flex;
        gap: 2rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding-bottom: 1rem;
        scrollbar-width: none;
    }

    .carousel::-webkit-scrollbar {
        display: none;
    }

    .card {
        min-width: 300px;
        max-width: 300px;
        padding: 1rem;
        scroll-snap-align: start;
        flex-shrink: 0;
    }
    @keyframes neonEfectt {
        from {
            text-shadow:
                0 0 3px #d37090,
                0 0 6px #d37090;
        }
        to {
            text-shadow:
                0 0 8px #d37090,
                0 0 16px #d37090;
        }
    }
</style>

<script>
    const carousel = document.getElementById("music-carousel");
    let scrollMusic = 0;
    const scrollStep = 152;
    const scrollDelay = 2000;

    setInterval(() => {
        if (scrollMusic + carousel.clientWidth >= carousel.scrollWidth) {
            scrollMusic = 0;
        } else {
            scrollMusic += scrollStep;
        }

        carousel.scrollTo({
            left: scrollMusic,
            behavior: "smooth",
        });
    }, scrollDelay);
</script>
