---
const { title } = Astro.props;
import "../styles/global.css";
import Navbar from "./Navbar.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ClientRouter />
    </head>
    <body>
        <Navbar />
        <slot />
    </body>
</html>

<style is:global>
    @keyframes bump {
        0% {
            opacity: 0;
            transform: scale(1) translateX(200px);
        }
        50% {
            opacity: 0.5;
            transform: scale(1.1);
        }
        100% {
            opacity: 1;
            transform: scale(1) translateX(0);
        }
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const toggle = document.getElementById("menu-toggle");
        const navLinks = document.getElementById("nav-links");
        const cross = document.querySelector(".cross");

        cross.addEventListener("click", () => {
            cross.classList.toggle("rotated");
        });
        toggle.addEventListener("click", () => {
            navLinks.classList.toggle("active");
        });
    });
</script>
