<header>
    <nav>
        <button class="menu-toggle" id="menu-toggle">☰</button>

        <ul class="nav-links" id="nav-links">
            <li><a href="mi-repo/">About</a></li>
            <li><a href="mi-repo/projects">Projects</a></li>
            <li><a href="mi-repo/contact">Contact</a></li>
        </ul>

        <div class="container-cross">
            <div class="line"></div>
            <div class="cross">✟</div>
        </div>
    </nav>
</header>
